@model G5ElectronicShop.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Image:
        </dt>

        <dd>
            <img src="~/Content/images/product/@Html.DisplayFor(model => model.Images)" width="80%" />
        </dd>

        <dt>
            Product Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            Date Of Manufacture:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfManufacture)
        </dd>

        <dt>
            Price:
        </dt>

        <dd>
            @{var price = String.Format("{0:0,0 $}", @Html.DisplayFor(model => model.Price));} @price
        </dd>

        <dt>
            Manufacturer Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer.manufacturerName)
        </dd>

        <dt>
            Type Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeProduct.typeName)
        </dd>

        <dt>
            Description: 
        </dt>

        <dd>
            @Html.Raw(Model.Description)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
