@model IEnumerable<G5ElectronicShop.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Staff.StaffName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.CustomerName)
        </td>
        <td>
            @{
                if (item.Status == 0)
                {
                    <div>Processing</div>
                }
                else if (item.Status == 1)
                {
                    <div>Delivery in Progress</div>
                }
                else
                {
                    <div>Paid</div>
                }
            }
            @*@Html.DisplayFor(modelItem => item.Status)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Staff.StaffName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderID }) |
            @Html.ActionLink("Details", "DetailOrder", new { id = item.OrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.OrderID })
        </td>
    </tr>
}

</table>
